	
<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">  
  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="stylesheet" href="./stylesheets/acumen.css">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css"> -->
    <title>MTAAS</title>

    <!-- Bootstrap core CSS -->


    <!-- Custom styles for this template -->
    <!--<link href="./files/acumen.css" rel="stylesheet">-->
 </head>

  <body>
  
			<div ng-app="MtaaS" data-ng-controller="MtaaS">

    <nav class="navbar navbar-inverse navbar-fixed-top">
  
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Mobile Testing as a Service</h2>
        <p>Please use the below Form for Login and Register:</p>
        <!--new COde added here -->
         <form class="login" style="background-color:red">
         <div class="col-md-5 col-sm-5">
         <div class="well">
         <legend>LOGIN as a Customer</legend>
         <div class="form-group">
              <input type="text" placeholder="User ID" class="form-control" ng-model = "cusname">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" ng-model = "cuspassword">
            </div>
            <a type="submit" class="btn btn-success" ng-click="cussignin()" role="button">Login</a>
         </div>
         </div>
         </form>
         <form class="login" style="background-color:red">
         <div class="col-md-5 col-sm-5">
         <div class="well">
         <legend>LOGIN as an Employee</legend>
         <div class="form-group">
              <input type="text" placeholder="User ID" class="form-control" ng-model = "empname">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" ng-model = "emppassword">
            </div>
            <a type="submit" class="btn btn-success" ng-click="empsignin()" role="button">Login</a>
         </div>
         </div>
         </form>
       <!--new code ends-->
      </div>
    </div>
                               <hr>

            
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="files/jquery.min.js"></script>
    <script src="files/bootstrap.min.js"> -->
    
    <script >
    var app=angular.module('MtaaS', [])
 app.controller('MtaaS', ['$scope', '$http', '$window', function( $scope,$http,$window)
 {
   
 $http({
 method: 'GET',
 url: '/checklogin'
 }).
 then(function(response)
 {
 	if(response.data.status===200)
 	{
 	$window.location.href='/customer';
 	}

 	if(response.data.status===250)
 	{
 	$window.location.href='/employee';
 	}
 });
 
$scope.cussignin = function (){
				//alert($scope.name);
				//alert($scope.password);
				var cus_name = $scope.cusname;
				var cus_password=$scope.cuspassword;
				//var in_type=$scope.type;
				 
	if (cus_name == null || cus_name == "")			 
	{
		alert("Username cannot be empty!!");
		return;
	}
	
	if (cus_password == null || cus_password == "")
	{
		alert("password cannot be empty!!");
		return;
	}
	
				$http({
			      	  method: 'POST',
			      	  url: '/cussignin',
			      	  data: {"cus_name":cus_name,"cus_password":cus_password}
			        }).
			          then(function(response) {
			          if(response.data.status == 100)
			          {
			          	alert("Invalid User and Password!");
			          }
			          else
			          {
			        	  $window.location.href = '/customer';
			          }
			          }); 

}

$scope.empsignin = function (){
				//alert($scope.name);
				//alert($scope.password);
				var emp_name = $scope.empname;
				var emp_password=$scope.emppassword;
				//var in_type=$scope.type;
				 
	if (emp_name == null || emp_name == "")			 
	{
		alert("Username cannot be empty!!");
		return;
	}
	
	if (emp_password == null || emp_password == "")
	{
		alert("password cannot be empty!!");
		return;
	}
	
				$http({
			      	  method: 'POST',
			      	  url: '/empsignin',
			      	  data: {"emp_name":emp_name,"emp_password":emp_password}
			        }).
			          then(function(response) {
			          if(response.data.status == 100)
			          {
			          	alert("Invalid User and Password!");
			          }
			          else
			          {
			        	  $window.location.href = '/employee';
			          }
			          }); 

}        
			 
		$scope.register = function ()
		{
	   $window.location.href = '/register';
		}
        
        	$scope.appmanagerregister = function ()
		{
	   $window.location.href = '/appmanagerregister';
		}
	

  }]);   
    
    
    </script>
    
  

</body></html>